{
	"arrowParens": "always",
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"^@/(.*)$",
		"^[./]",
		"<TYPES>",
		"^[./](.*).(css|sass|sass)$"
	],
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-imports"],
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
